@page "/createproduct"

<div class="mb-5">
    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.ExitToApp" Color="Color.Primary" OnClick="Back">Back</MudButton>
</div>

<h3>Product Create Page</h3>

<EditForm Model="@request" OnValidSubmit="CreateNew">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Product Name"
                                  @bind-Value="request.ProductName" For="@(() => request.ProductName)" />
                </MudCardContent>
                <MudCardContent>
                    <MudTextField Label="Description"
                                  @bind-Value="request.Description" For="@(() => request.Description)" />
                </MudCardContent>
                <MudCardContent>
                    <MudTextField Label="Price"
                                  @bind-Value="request.Price" For="@(() => request.Price)" />
                </MudCardContent>
                <MudCardContent>
                    <MudTextField Label="Sale Price"
                                  @bind-Value="request.SalePrice" For="@(() => request.SalePrice)" />
                </MudCardContent>
                <MudCardContent>
                    <MudTextField Label="Category"
                                  @bind-Value="request.CategoryId" For="@(() => request.CategoryId)" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Create</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>
